{% extends "admin/layout.html" %} {% block content %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><i class="nav-icon fas fa-info-circle"></i> Info Balai </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Info</a></li>
          <li class="breadcrumb-item active">Info Balai</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-navy card-outline">
          <div class="card-body">
            <input id="param" value="" hidden>

            <div class="row">
              <div class="col-sm-12">
                <div class="card card-light card-outline">
                  <div class="card-header">
                    <label class="">Kategori Info Balai</label>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label>Pilih Kategori</label>
                      <select class="form-control select2bs4" style="width: 100%;">
                        <option selected="selected">Alabama</option>
                        <option>Alaska</option>
                        <option>California</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                      </select>
                    </div>
                </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
</div>

</section>

<!-- /.content -->


{% endblock %}
{% block js %}
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}
